aside{
    @media screen and (max-width:1024px) {
        display:none;
    }
    width: 200px;
    height: 100vh;
    background-color: #20B2AA;
    padding: 0 10px;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img:first-child{
        width: 100px;
        margin-top: 50px;
        border-radius: 50%;
    }
    p{
        margin: 40px 0;
        color: #fff;
        font-size: 16px;
    }
    img:last-child{
        width: 150px;
    }
}