header {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #313842; }
  @media screen and (max-width: 1024px) {
    header {
      flex-direction: column;
      align-items: flex-start; } }
  header h6 {
    font-size: 22px;
    margin: 0;
    line-height: 50px;
    padding: 0 20px; }
    @media screen and (max-width: 1024px) {
      header h6 {
        display: none; } }
  header #menu {
    display: none; }
  header label {
    display: none;
    user-select: none;
    width: 40px;
    height: 50px;
    margin-left: 20px;
    position: relative; }
    @media screen and (max-width: 1024px) {
      header label {
        display: block; } }
    header label::before {
      content: "";
      width: 40px;
      height: 6px;
      display: block;
      background-color: #242121;
      position: absolute;
      top: 12px;
      transition: transform .3s ease-in-out,top .3s .4s ease-in-out; }
    header label::after {
      content: "";
      width: 40px;
      height: 6px;
      display: block;
      background-color: #242121;
      position: absolute;
      bottom: 12px;
      transition: transform .3s ease-in-out,bottom .3s .4s ease-in-out; }
  header input[name="menu"]:checked + label::before {
    top: 22px;
    transform: rotate(45deg);
    transition: top .3s ease-in-out,transform .3s .4s ease-in-out; }
  header input[name="menu"]:checked + label::after {
    bottom: 22px;
    transform: rotate(-45deg);
    transition: bottom .3s ease-in-out,transform .3s .4s ease-in-out; }
  header input[name="menu"]:checked ~ ul {
    height: 100vh;
    transform: scaleY(1); }
  header ul {
    margin: 0;
    padding: 0;
    margin-left: 40px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    transition: all .3s;
    transform-origin: 50% 0; }
    @media screen and (max-width: 1024px) {
      header ul {
        width: 100vw;
        align-items: flex-start;
        margin-left: 20px;
        flex-direction: column;
        flex-grow: 0;
        z-index: 100;
        height: 0;
        transform: scaleY(0); } }
    header ul li {
      margin-right: 30px; }
      header ul li .actived {
        color: aquamarine !important; }
      header ul li a {
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        line-height: 50px;
        display: inline-block; }
        header ul li a:hover {
          color: #999; }
  header .serch {
    position: relative;
    margin-right: 30px; }
    @media screen and (max-width: 1024px) {
      header .serch {
        display: none; } }
    header .serch input {
      width: 220px;
      height: 30px;
      font-size: 14px;
      border-radius: 20px;
      outline: none;
      border: none;
      padding-left: 20px;
      padding-right: 30px;
      color: #666; }
    header .serch img {
      width: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%); }

.goTop {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 10%;
  bottom: 10%;
  z-index: 77;
  display: none; }
  .goTop img {
    width: 30px; }

/*# sourceMappingURL=header.css.map */
