article {
  width: 100%;
  min-width: 1400px;
  padding: 50px 0 0 200px;
  background-color: #EDEDED;
}
article .header {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #E1E1E1;
  display: flex;
  align-items: center;
}
article .header img {
  width: 20px;
  margin: 0 10px 0 20px;
}
article .header p {
  color: #666;
  font-size: 14px;
}
article .main {
  padding: 20px;
}
article .main .swiper {
  width: 100%;
  background-color: #fff;
  border: 1px solid #E1E1E1;
  position: relative;
}
article .main .swiper h5 {
  margin: 0;
  font-size: 16px;
  text-align: center;
  color: #666;
  background-color: #F8F8F8;
  line-height: 40px;
  border-bottom: 1px solid #E1E1E1;
}
article .main .swiper .swiper-container {
  width: 90%;
  height: auto;
  margin-top: 10px;
}
article .main .swiper .swiper-container img {
  width: 100%;
  height: 200px;
}
article .main .swiper .swiper-container p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
article .main .swiper .swiper-div-prev {
  position: absolute;
  left: 6px;
  top: 50%;
  z-index: 22;
  cursor: pointer;
}
article .main .swiper .swiper-div-prev:hover {
  background-color: #09B1B9;
}
article .main .swiper .swiper-div-prev img {
  width: 40px;
  height: 40px;
}
article .main .swiper .swiper-div-next {
  position: absolute;
  right: 6px;
  top: 50%;
  z-index: 22;
  cursor: pointer;
}
article .main .swiper .swiper-div-next:hover {
  background-color: #09B1B9;
}
article .main .swiper .swiper-div-next img {
  width: 40px;
  height: 40px;
}
article .main .container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
article .main .container .ify {
  width: 30%;
  margin-bottom: 40px;
}
article .main .container .ify:not(:nth-child(3n)) {
  margin-right: 5%;
}
article .main .container .ify .ify-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F8F8;
  border: 1px solid #E1E1E1;
}
article .main .container .ify .ify-top .ify-top-img {
  border-right: 1px solid #E1E1E1;
  padding: 8px 10px;
  font-size: 0;
}
article .main .container .ify .ify-top .ify-top-img img {
  width: 20px;
}
article .main .container .ify .ify-top .ify-top-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 20px;
}
article .main .container .ify .ify-top .ify-top-title p {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  color: #666;
}
article .main .container .ify .ify-top .ify-top-title a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}
article .main .container .ify .ify-item {
  padding-left: 0;
  margin: 0;
  border: 1px solid #E1E1E1;
  background-color: #fff;
  padding: 16px 10px;
}
article .main .container .ify .ify-item li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 40px;
}
article .main .container .ify .ify-item li a {
  text-decoration: none;
  color: #333;
  max-width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
article .main .container .ify .ify-item li a:hover {
  color: #09B1B9;
}
article .main .container .ify .ify-item li a img {
  width: 20px;
  vertical-align: middle;
}
article .main .container .ify .ify-item li p {
  margin: 0;
  font-size: 12px;
  color: #666;
}
article .main .partner {
  width: 100%;
  border: 1px solid #E1E1E1;
  background-color: #fff;
}
article .main .partner .partner-top {
  background-color: #F8F8F8;
  border-bottom: 1px solid #E1E1E1;
}
article .main .partner .partner-top h3 {
  text-align: center;
  font-weight: 700;
  color: #666;
  margin: 0;
  line-height: 40px;
}
article .main .partner .partner-content {
  height: 100px;
}
article .footer {
  padding: 30px 20px;
  text-align: center;
}
article .footer p {
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
